@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500;700&display=swap');

:root {
    --VeryDarkGrayishBlue: hsl(217, 19%, 35%);
    --DesaturatedDarkBlue: hsl(214, 17%, 51%);
    --GrayishBlue: hsl(212, 23%, 69%);
    --LightGrayishBlue: hsl(210, 46%, 95%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 13px;
    font-family: 'Manrope', sans-serif;
    background-color: var(--LightGrayishBlue);
}

h1,
h2,
h3,
h4 {
    color: var(--VeryDarkGrayishBlue);
}

p {
    color: var(--DesaturatedDarkBlue);
}

.card {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 700px;
    display: flex;

    box-shadow: 10px 10px 36px -17px rgba(161, 116, 161, 0.71);

    &__left {
        position: relative;
        width: 40%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
        }
    }

    &__right {
        width: 100%;
        height: 100%;
        background-color: white;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
    }

}



.showcase {
    padding: 30px;
    width: 100%;
    height: 100%;

    &__text p {
        margin: 15px 0;
        font-size: .9em;
    }

    &__person {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;


        &__info {
            display: flex;

            img {
                border-radius: 50%;
                width: 40px;
            }

            .text {

                margin-left: 10px;
            }

            p {
                margin: 2px 0;
            }
        }

        &__icon {
            border-radius: 50%;
            padding: 10px;
            background-color: var(--LightGrayishBlue);
            cursor: pointer;

            svg {
                fill: #6E8098;
            }

            &--active {
                background-color: var(--DesaturatedDarkBlue);

                svg {
                    fill: white;
                }
            }
        }

    }
}

.share {
    display: none;
    position: absolute;
    top: -150%;
    right: -17%;
    width: 200px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--DesaturatedDarkBlue);
    transition: .3s;
    z-index: 1;

    span {
        position: relative;
        bottom: -14px;
        left: 90px;
        width: 0;
        height: 0;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        border-top: 15px solid var(--DesaturatedDarkBlue);

    }

    ul {
        width: 100%;
        height: 100%;
        display: flex;
        list-style: none;
        justify-content: space-evenly;
        align-items: center;

        li {
            a {
                color: white;
                text-transform: uppercase;
                letter-spacing: 2px;
                text-decoration: none;
                text-underline: none;
            }
        }
    }
}

.show {
    display: block;
}